@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-on-overflow {
    display: inline-block;
    max-width: 100%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: hidden;
}

.hide-on-overflow::before {
    content: attr(data-text);
    visibility: visible;
}